PORT=3001
JWT_SECRET=TODO
GOOGLE_CLIENT_ID=TODO
GOOGLE_CLIENT_SECRET=TODO
ANTHROPIC_API_KEY=TODO
OPENAI_API_KEY=TODO
R2_ENDPOINT=TODO
R2_ACCESS_KEY_ID=TODO
R2_SECRET_ACCESS_KEY=TODO
R2_BUCKET_NAME=TODO
DATABASE_URL=TODO
DIRECT_URL=TODO
